.articleCard {
    background-color: #FCF6DB;
    border: 2px solid rgb(77, 31, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2% 3%;
}

.articleCardCont {
    color: rgb(77, 31, 0);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 200%;
}

.articleCardImg {
    align-content: flex-start;
    display: flex;
    justify-content: center;
    max-width: 250px;
    padding: 15px 40px 15px 15px;
}

.articleCardImg img {
    height: auto;
    width: 100%;
}

.articleDate {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
}

.articleDes {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.articleLink {
    color: rgb(77, 31, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;
}

.articleLink:hover {
    color: green;
    text-decoration:line-through;
}

.articleTitle {
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}





