.page {
  padding: 0 80px;
  background-color: #FFF8EE;
  min-height: 100vh;
}

.articleDate {
  font-size: 12px;
}

.articleBlurb {
  font-size: 14px;
}

.articleTxt {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.articleWrapper {
  padding: 2% 5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  max-width: 640px
  
}

.articleHeader {
  background-color: lightblue;
  padding: 40 20 20 20;
  background-size: cover;
  background-blend-mode: lighten;
}
