.page {
  max-width: 1200px;
  padding: 25px;
  margin: 0px auto;
  align-content: center;
}

.introCont {
  background-color: lightblue;
  padding: 2% 5%;
  margin-bottom: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articleDate {
  font-size: 12px;
}

.articleBlurb {
  font-size: 14px;
}

.articleTxt {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
